.ghost1 {
  display: none;
}
.ghost2 {
  display: none;
}
.clickable1 {
  cursor: pointer;
  color: #0088cc;
  text-decoration: underline;
}
.clickable2 {
  cursor: pointer;
  color: #0088cc;
  text-decoration: underline;
}

h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 50px;
  text-align: center;
}

p {
  font-family: 'Reenie Beanie', cursive;
  font-size: 30px;
  text-align: left;
  margin-top: 25px;
}

h2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;
  margin-top: 25px;
  text-align: center;
}

#secondGhost {
  color: maroon;
  display: none;
}
